{% extends 'base.html' %}

{% block head %}
<title>Cambiar Contraseña - Netflux</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #141414;">
    <div class="card p-5 shadow-lg"
    style="max-width: 450px; width: 100%; background-color: #1c1c1c; border-radius: 12px;">
        <h2 class="mb-4 text-center text-white">Cambiar Contraseña</h2>
        <form method="POST" action="{{ url_for('user.actualizar_password') }}">
            <div class="mb-3">
                <label for="old_password" class="form-label text-white">Contraseña Actual</label>
                <input type="password" class="form-control bg-dark text-white border-0 rounded-pill px-3" 
                       id="old_password" name="old_password" placeholder="Contraseña Actual" required>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label text-white">Nueva Contraseña</label>
                <input type="password" class="form-control bg-dark text-white border-0 rounded-pill px-3" 
                       id="new_password" name="new_password" placeholder="Nueva Contraseña" required>
            </div>
            <button type="submit" class="btn btn-danger w-100 rounded-pill">Confirmar</button>
        </form>
    </div>
</div>
{% endblock %}
