b{% extends 'base.html' %}

{% block title %}Añadir Capítulo - Netflux{% endblock %}

{% block head %}
    <title>Añadir Capítulo - Netflux</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #141414;">
    <div class="card p-5 shadow-lg" style="max-width: 450px; width: 100%; background-color: #1c1c1c; border-radius: 12px;">
        <h2 class="text-center text-white mb-4">Añadir Capítulo</h2>

        <!-- Formulario para añadir capítulo -->
        <form action="" method="POST">

            <div class="mb-4">
                <label for="numero" class="form-label text-white">Número del Capítulo</label>
                <input type="number" class="form-control bg-dark text-white border-0 rounded-pill px-3" id="numero" name="numero" min="0" required value="{{ capitulo.numero if capitulo else '' }}">
            </div>

            <div class="mb-4">
                <label for="titulo" class="form-label text-white">Título del capítulo</label>
                <input type="text" class="form-control bg-dark text-white border-0 rounded-pill px-3" id="titulo" name="titulo" 
                       placeholder="Ingrese el título de la película" required value="{{ capitulo.titulo if capitulo else '' }}">
            </div>

            <div class="mb-4">
                <label for="duracion" class="form-label text-white">Duración</label>
                <input type="number" class="form-control bg-dark text-white border-0 rounded-pill px-3" id="duracion" name="duracion" min="0" required value="{{ capitulo.duracion if capitulo else '' }}">
            </div>

            <div class="mb-4">
                <label for="sinopsis" class="form-label text-white">Sinopsis</label>
                <textarea class="form-control bg-dark text-white border-0 rounded px-3" id="sinopsis" name="sinopsis" 
                          rows="4" placeholder="Escriba una breve sinopsis de la película" required>{{ capitulo.sinopsis if capitulo else '' }}</textarea>
            </div>

            <button type="submit" class="btn btn-danger w-100 rounded-pill">
                {{ 'Guardar cambios' if capitulo else 'Añadir Capítulo' }}
            </button>
        </form>
    </div>
</div>
{% endblock %}