{% extends 'base.html' %}

{% block title %}Selecciona tu perfil - Netflux{% endblock %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/perfiles.css') }}"> -->
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #141414;">
    <div class="container text-center">
        <h1 class="text-white mb-5">¿Quién está viendo Netflux?</h1>
        <div class="row justify-content-center">
            {% for perfil in perfiles %}
                <div class="col-6 col-sm-4 col-md-3 mb-4">
                    <a href="{{ url_for('pagina_inicio', perfil_id=perfil.perfil_id) }}">
                        <div class="card bg-dark border-0">
                            <img src="https://via.placeholder.com/200" class="card-img-top rounded-circle" alt="{{ perfil.nombre }}">
                            <div class="card-body">
                                <h5 class="text-white">{{ perfil.nombre }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('crear_perfil', is_edit=false) }}" class="btn btn-outline-light mt-4">Agregar un perfil</a>
    </div>
</div>
{% endblock %}