{% extends 'base.html' %}

{% block title %}Series - Netflux{% endblock %}

{% block head %}
<title>Series - Netflux</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .series-card {
        border-radius: 12px;
        overflow: hidden;
        background-color: #1c1c1c;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .series-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    .series-card img {
        height: 250px;
        object-fit: cover;
    }

    .series-card .card-body {
        padding: 15px;
    }

    .series-card h5 {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }

    .series-card .card-text {
        font-size: 0.9rem;
        color: #bbb;
    }

    .btn-small {
        padding: 5px 10px;
        font-size: 0.85rem;
    }

    .accordion-button {
        background-color: #1c1c1c;
        color: white;
        border: none;
    }

    .accordion-button:hover {
        background-color: #444;
    }

    .accordion-body {
        background-color: #1c1c1c;
        color: white;
    }
</style>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center text-white mb-5" style="font-size: 2.2rem;">Lista de Series</h1>

    {% if es_admin %}
        <!-- Botón de Añadir Serie -->
        <div class="d-flex justify-content-end mb-4">
            <a href="{{ url_for('serie.crear_serie') }}" class="btn btn-danger">
                <i class="fas fa-plus me-2"></i> Añadir Serie
            </a>
        </div>
    {% endif %}

    <!-- Lista de Series -->
    {% if series %}
        <div class="row g-4">
            {% for serie in series %}
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card series-card shadow-sm h-100">
                    <img src="{{ serie.imagen_url if serie.imagen_url else 'static/default-series.jpg' }}" class="card-img-top" alt="{{ serie.titulo }}">
                    <div class="card-body text-white">
                        <h5 class="card-title">{{ serie.titulo }}</h5>
                        <p class="card-text">
                            {% for genero in serie.genero %}
                                {{ genero.nombre.capitalize() }}
                            {% endfor %} | {{ serie.anio_estreno }}</p>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <button class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#serieModal{{ serie.id }}">Ver Más</button>
                                <div class="d-flex">
                                    {% if es_admin %}
                                    <!-- Botón de Editar -->
                                    <a href="{{ url_for('serie.editar_serie', serie_id=serie.id) }}" class="text-warning mx-2" title="Editar">
                                        <i class="fas fa-pencil-alt fa-lg"></i>
                                    </a>
                                    <!-- Botón de Eliminar -->
                                    <a href="#confirmDeleteModal{{ serie.id }}" class="text-danger mx-2" title="Eliminar" data-bs-toggle="modal">
                                        <i class="fas fa-trash-alt fa-lg"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

            <!-- Modal de información de la serie -->
            <div class="modal fade" id="serieModal{{ serie.id }}" tabindex="-1" aria-labelledby="serieModalLabel{{ serie.id }}" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content bg-dark text-white rounded">
                        <!-- Encabezado del modal -->
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="serieModalLabel{{ serie.id }}">{{ serie.titulo }}</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
            
                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <!-- Fila 1: Información general -->
                            <div class="row mb-4">
                                <div class="col-md-8">
                                    <p><strong>Género:</strong> 
                                        {% for genero in serie.genero %}
                                            {{ genero.nombre }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p><strong>Año de Estreno:</strong> {{ serie.anio_estreno }}</p>
                                    <p><strong>Sinopsis:</strong></p>
                                    <p>{{ serie.sinopsis }}</p>
                                </div>
                                <div class="col-md-4">
                                    <p><strong>Actores:</strong> 
                                        {% if serie.actores %}
                                            {% for actor in serie.actores %}
                                                {{ actor.nombre }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            No disponible
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
            
                            <!-- Fila 2: Temporadas -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h6>Temporadas</h6>
                                        {% if es_admin %}
                                        <a href="{{ url_for('serie.crear_temporada', serie_id=serie.id) }}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-plus me-2"></i>Añadir Temporada
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="accordion" id="accordionTemporadas{{ serie.id }}">
                                        {% for temporada in serie.temporadas %}
                                        <div class="accordion-item bg-dark text-white">
                                            <h2 class="accordion-header" id="headingTemporada{{ temporada.numero }}">
                                                <button class="accordion-button collapsed text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTemporada{{ temporada.numero }}" aria-expanded="false" aria-controls="collapseTemporada{{ temporada.numero }}">
                                                    Temporada {{ temporada.numero }} ({{ temporada.anio_lanzamiento }})
                                                </button>
                                            </h2>
                                            <div id="collapseTemporada{{ temporada.numero }}" class="accordion-collapse collapse" aria-labelledby="headingTemporada{{ temporada.numero }}" data-bs-parent="#accordionTemporadas{{ serie.id }}">
                                                <div class="accordion-body">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <h6>Capítulos</h6>
                                                        {% if es_admin %}
                                                        <div>
                                                            <a href="{{url_for('serie.editar_temporada', serie_id=serie.id, temporada_id=temporada.temporada_id)}}" class="btn btn-warning btn-sm me-2">Editar</a>
                                                            <a href="{{url_for('serie.eliminar_temporada', serie_id=serie.id, temporada_id=temporada.temporada_id)}}" class="btn btn-danger btn-sm me-2">Borrar</a>
                                                            <a href="" class="btn btn-success btn-sm">Añadir Episodio</a>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                    <ul class="list-unstyled">
                                                        {% for capitulo in temporada.capitulos %}
                                                        <li class="mb-3 d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <strong>{{ capitulo.numero }}. {{ capitulo.titulo }}</strong> ({{ capitulo.duracion }} min)
                                                                <p class="mb-0">{{ capitulo.sinopsis }}</p>
                                                            </div>
                                                            {% if es_admin %}
                                                            <div>
                                                                <a href="" class="btn btn-warning btn-sm me-2">Editar</a>
                                                                <a href="" class="btn btn-danger btn-sm">Borrar</a>
                                                            </div>
                                                            {% endif %}
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Pie del modal -->
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para confirmar eliminación de serie -->
            <div class="modal fade" id="confirmDeleteModal{{ serie.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ serie.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark text-white rounded">
                        <!-- Encabezado del modal -->
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="confirmDeleteModalLabel{{ serie.id }}">Eliminar Serie</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>

                        <!-- Cuerpo del modal -->
                        <div class="modal-body">
                            <p>¿Estás seguro de que deseas eliminar la serie <strong>{{ serie.titulo }}</strong>? Esta acción no se puede deshacer.</p>
                        </div>

                        <!-- Pie del modal -->
                        <div class="modal-footer border-0">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{{ url_for('serie.eliminar_serie', serie_id=serie.id) }}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h6>No hay series disponibles.</h6>
        </div>
    {% endif %}
</div>
{% endblock %}